<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292090677184-fp6rng9fl1peb6oivfqmmfjntqfrev3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292090677184-fp6rng9fl1peb6oivfqmmfjntqfrev3c</string>
	<key>API_KEY</key>
	<string>AIzaSyA03_gKRxvxo_vBPCt851S3xzGlw1SvyQc</string>
	<key>GCM_SENDER_ID</key>
	<string>292090677184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tik-tok-jegal</string>
	<key>STORAGE_BUCKET</key>
	<string>tik-tok-jegal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292090677184:ios:fa8286a766960bd3246a25</string>
</dict>
</plist>